/*css reset*/
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/*navigation pane*/
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding : 3vh;
    align-items: center;
    position:fixed;
    z-index:9;
}

.nav-bar[status*="no-background"] {
    color:white;
    background-color:transparent;

    animation: fadeOut;
    animation-duration : 0.35s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.nav-bar[status*="with-background"] {
    color:black;
    background-color:white;

    animation: fadeIn;
    animation-duration : 0.35s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes fadeIn{
    from {
        background-color: transparent;
    }
    to {
        background-color: white;
    }
}
@keyframes fadeOut{
    from {
        background-color: white;
    }
    to {
        background-color: transparent;
    }
}

.logo {
    font-family: 'Antic', sans-serif;
    font-weight: bold;
    font-size: 25pt;
    flex: 5;
}

#nav-list-container{
    position:relative;
    display: flex;
    justify-content: space-around;
    flex: 3;
    list-style : none; 
    right: 10vh;

}

.nav-item{
    text-decoration: none;
    color:white;
}

.burger{
    display:none;
    font-size: 24px;
    flex: 1;
}


/*intermediary*/
@media screen and (max-width:1350px){
    #nav-list-container{
        flex:5
    }
}


/*mobile version*/
@media screen and (max-width: 768px){
    .burger{
        display: block;
        cursor:pointer;
    }
    #nav-list-container{
        position: absolute;
        right: 0px;
        height: 40vh;
        top:10vh;
        background-color: white;
        display:flex;
        flex-direction:column;
        width:50%;
        text-align:center;
    }
    #nav-list-container[is-shown*="false"]{
        transform:translateX(100%);
    }
    #nav-list-container[is-shown*="true"]{
        transform:translateX(0%);
        animation: slideIn;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
    }
    .nav-item{
        position:relative;
        color:black;
        right:7%;
    }
    .logo{
        flex:5;
        text-align:center;
    }

    @keyframes slideIn{
        from{
            transform:translateX(100%);
        }
        to{
            transform:translateX(0%);
        }
    }
}



/*footer*/
footer {
    background-color: #2d544c;
    position:relative;
    z-index:8;
    color: white;
    text-align:center;
    
}
#copyright-bar{
    padding: 30px;
    background-color: white;
    text-align: center;
    color: gray;
}

#social-medias{
    font-size : 30pt;
    letter-spacing: 5px;
}

.footer-entry{
    padding: 5px;
    position: relative;
    top : 5%;
}

#nav-footer{
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: #1b332e;
    padding-top: 20px;
    padding-bottom: 20px;
    
    list-style:none;
}

.nav-footer-item{
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}